<h1>this is edit page</h1>
<%= form_for @article,url:article_path(@article),method: :patch do |f| %>
  <%= f.text_field :title %>
  <%= f.cktext_area :content %>
  <%= f.submit "提交" %>
<% end %>

<%= link_to "返回", articles_path %>
