<h1>this is edit page</h1>
<%= form_for @article,url:article_path(@article),method: :patch do |f| %>
 文章标题: <%= f.text_field :title %>
 文章内容: <%= f.cktext_area :content %>
  <%= f.submit "提交" %>
<% end %>

<%= link_to "返回", articles_path %>

<script>
	$("#form").validate({
		rules:{
      "article[title]":{
        "required": true,
     //   "min":  Classificate.last.id
      },
		//	"article[fenlei]": "required"
		},
		messages:{
			"article[title]":"请输入id",
		//	"article[fenlei]":"请输入分类"
		}
	});
</script>
