<style>
  #show_weather{ width:10%; height:10%; }
  .ul2{font-size:20px; margin:4% 0 0 16%; }
  .ul2 li{list-style:none; line-height:46px; }
  .ul2 li a {color:black; }
  .ul2 li a:hover{background-color:#fff;}
</style>

<!--头部渲染-->
<%= render :partial => "header" %>
<!--文章列表渲染-->
<ul class="ul2">
  <% @articles.each do |article| %>
    <li>
      <%= link_to "#{article.title}", article_path(article) %>
    </li>
  <% end %>
</ul>

<div id="user_nav" style="float:right; position:absolute; right:0; top:0;">
  <% if user_signed_in?  %>
    <p>
    <%= link_to "退出" , destroy_user_session_path, :style => "font-size:20px; color:#000; ", :method => :delete  %>
    </p>
    <p>
    <%= link_to "进入后台", classificates_path, {:style => "font-size:20px; color:#000; "} %>
    </p>
  <% end %>
</div>

<%= render :partial => "footer" %>



