<style>
  #show_weather{ width:10%; height:10%; }
  .ul2{font-size:20px; margin:4% 0 0 16%; }
  .ul2 li{list-style:none; line-height:46px; }
  .ul2 li a {color:black; }
  .ul2 li a:hover{background-color:#fff;}
</style>

<!--头部渲染-->
<%= render :partial => "header" %>

<!--搜索框-->
<%= form_tag("/articles", method: :get,  :style => "margin:20px 0 0 160px; width:280px; " ) do %>
  <%= text_field_tag "title" %>
  <%= submit_tag '搜索' , :style => "border:none; padding:3px 0 3px 0; text-align:center; margin-bottom:10px; width:46px;" %>
<% end %>



<!--文章列表渲染-->
<ul class="ul2">
  <% @articles.each do |article| %>
    <li>
      <%= link_to "#{article.title}", article_path(article) %>
    </li>
  <% end %>
</ul>

<div id="user_nav" style="float:right; position:absolute; right:0; top:16px;">
  <% if user_signed_in?  %>
    <p>
    <%= link_to "退出" , destroy_user_session_path, :style => "font-size:20px; color:#000; ", :method => :delete  %>
    </p>
    <p>
    <%= link_to "进入后台", classificates_path, {:style => "font-size:20px; color:#000; "} %>
    </p>
  <% end %>
</div>

<%= render :partial => "footer", :style => "position:absolute; bottom:0; " %>



