<h1>this is article new page</h1>
<%= form_for @article ,url:articles_path, :html =>{:id => "form"} do |f| %>
  <%= f.text_field :title %>
  <%= f.cktext_area :content %>
  <!--这里文章需要加上分类标签-->
  <%= f.collection_select("classificate_id",Classificate.all,:id ,:fenlei) %>

  <%= f.submit '提交' %>
<% end %>

<script>
	$("#form").validate({
		rules:{
      "article[title]":{
        "required": true,
     //   "min":  Classificate.last.id
      },
		//	"article[fenlei]": "required"
		},
		messages:{
			"article[title]":"请输入id",
		//	"article[fenlei]":"请输入分类"
		}
	});
</script>
