<h1>this is classificate index page</h1>

<p><%= link_to "新增分类", new_classificate_path, class:"btn btn-primary" %></p>

<div id="jstree_demo">
  <ul>
    <% @classificates.each do |classificate| %>
      <li> <%= classificate.fenlei %>  </li>
    <% end %>
  </ul>
</div>

<table class="table table-inverse">
  <tr>
    <th>ID:</th>
    <th>FenLei:</th>
    <th>编辑</th>
    <th>删除</th>
  </tr>
  <% @classificates.each do |classificate| %>
    <tr>
      <td>
        <%= classificate.id %>
      </td>
      <td>
        <%= classificate.fenlei %>
      </td>
      <td><%= link_to "编辑", edit_classificate_path(classificate), class:"btn btn-primary" %></td>
      <td><%= link_to "删除", classificate_path(classificate),method: :delete, data:{confirm:"Are you sure!"}, class:"btn btn-danger" %></td>
    </tr>
  <% end %>
</table>

<div  id="using_json"></div>

<!---->

<script>
$("#jstree_demo").jstree({
  "core":{
    "themes":{
      "variant":"large"
    }
  }
});


//js代码 和  rails代码 能够混合式编程。
//错误的原因是  大师用的是 map方法，我用的是 each 方法。
//var jia = [];
//jia.push( { <%= raw  @classificates.each do |e| e.id end  %>});

$('#using_json').jstree({ 'core' : {
    'data' : [
       'Simple root node',
       {
         'text' : 'Root node 2',
         'state' : {
           'opened' : true,
           'selected' : true
         },
         'children' : [

         { 'text' : 'Child 1'
         },
           'Child 2'
         ]
      }
    ]
} });
</script>
