<!DOCTYPE html>
<html>
<head>
  <title>Graduate</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body style="background_color:grey; width:1000px; margin:0 auto;">

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <!--在这里加上分类-->
  <!--问题：如何在这里传递数据给articles_controller-->
    <table>
      <tr>
        <% Classificate.all.each do |classificate|  %>
          <td><%= link_to "#{classificate.fenlei}",{controller:"articles",action:"index",fenlei:"#{classificate.id}"}  %></td>
          <!--
          <td><%#= f.text_field :classificate_id  %></td>
          <td><%#= f.submit "#{classificate.fenlei}" %></td>
          -->
        <% end %>
      </tr>
    </table>
  <!---->

<%= yield %>

</body>
</html>
